Hi, <strong>{{ delivery_man_name }}</strong>
<p>
  The order number: <strong>{{ id }}</strong> has been redistributed.<br />
  Soon you will receive new orders.
</p>
<small>
  <i>Order created at: {{ created_at }}</i> and <i>redistributed at: {{ redistributed_at }}</i>
</small>
