Hi, <strong>{{ delivery_man_name }}</strong>
<p>The order number: <strong>{{ id }}</strong> has been removed.</p>
<small>
  <i>Order created at: {{ created_at }}</i> and <i>removed at: {{ removed_at }}</i>
</small>
